body {
    height: calc(380px + 521px + 634px + 510px + 510px + 223px + 80px);
}

.button {
    border: 0;
    background-color: var(--White, #FFF);;
}

.header {
    display: flex;
    width: 1440px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
    margin: 0 auto;
}
.Avion {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 25px 149px 26px 80px;
}
.header-nav {
}
.header-ul {
    display: flex;
    gap: 44px;
}
.header-text {
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}
.header-icon-bar {
    display: flex;
    gap: 16px;
    padding: 30px 80px 34px 281px;
}
.header-icon {
    width: 16px;
    height: 16px;
}
.header-icon-1 {
    background-image: url(/img/Search.svg);
}
.header-icon-2 {
    background-image: url(/img/Shopping--cart.svg);
}
.header-icon-3 {
    background-image: url(/img/User--avatar.svg);
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 223px;
}
.view-title {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
    padding: 80px 556px 24px 575px;
}
.view-div {
    display: flex;
    gap: 417px;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 64px;
    padding: 8px 24px;
    margin-bottom: 5px;
}
.view-menu {
}
option {
    border: 0;
}
.view-ul {
    padding: 12px 24px;
}
select {
    border: 0;
}
.view-list {
}
.viev-items {
}
.view-item-1 {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.view-item-2 {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.view-item-2::after {
    content: url(/img/Caret--down.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-left: 8px;
}
.content-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    text-decoration: none;
    padding-top: 28px;
}
.content-photo {
    width: 305px;
    height: 375px;
    background: url(<path-to-image>), lightgray 0px -3.125px / 100% 101.667% no-repeat, #F6F6F6;
}
.content-text-bar {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content-text {
    text-decoration: none;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-deck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.collection-bar {
    display: block;
    margin: 0 auto;
    padding: 48px 0 40px 0;
}
.collection-button {
    padding: 16px 32px;
    background: var(--Light-Grey, #F9F9F9);
}
.collection-button:hover {
    background-color: rgb(209, 209, 209);
}
.collection-button:active {
    background-color: rgb(165, 165, 165);
}
.join {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-end;
    width: 1440px;
    height: 521px;
    background-image: url(/img/join-image.jpg);
    background-position: left;
    background-repeat: no-repeat;
}
.club {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.club-title {
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 71px 130px 21px 49px;
}
.club-paragraph {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 470px;
    padding: 0 201px 216px 49px;
}
.club-div {
    width: 472px;
    display: flex;
}
.club-button {
    padding: 16px 32px;
    background-color: #2A254B;
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.club-button:hover {
    background-color: #383166;
}
.club-button:active {
    background-color: #3f3772;
}
.club-input {
    color: gray;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 0;
    background-color: #F9F9F9;
    /* я добавив фон для того щоб його було видно користувачу та трохи прикрасив шрифт для красоти */
}
.footer-main {
    width: 1440px;

    background-color: #2A254B;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    width: 1277px;
    padding: 58px 0 48px 0;
}
.paragraph {
}
.aside-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aside-p {
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.map {
    width: 642px;
    height: 195px;
}
.footer-supports {
    display: flex;
    gap: 845px;
    padding: 24px 0;
    border-top: 1px solid #4E4D93;
}
.supports {
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navigation-ul {
    display: flex;
    gap: 24px;

}
.social-li {
}
.social {
    width: 24px;
    height: 24px;
    display: block;
}
.social-1 {
    background-image: url(/img/social-1.svg);
}
.social-2 {
    background-image: url(/img/social-2.svg);
}
.social-3 {
    background-image: url(/img/social-3.svg);
}
.social-4 {
    background-image: url(/img/social-4.svg);
}
.social-5 {
    background-image: url(/img/social-5.svg);
}
.social-6 {
    background-image: url(/img/social-6.svg);/* в фігмі іконки з самого початку були такими */
}